/* Parte 1 */

.container {
  margin-bottom: 200px;
  width: 100%;
  height: 50%;
}

.img-container {
  display: flex;
  justify-content: center;
}

.fogueteACCT {
  width: 200px;
  height: 200px;
}

.containerFlip .flipper {
  transform: rotateX(10deg);
}

.containerFlip {
  width: 200px;
  height: 200px;
  perspective: 500px;
}

.flipper {
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.mapaQuadrado {
  width: 200px;
  height: 200px;
  animation: qd-animation 4s infinite;
  animation-delay: 0.5s;
}

@keyframes qd-animation {
  0% {
    transform: translateX(0px);
  }

  25% {
    transform: translateX(20px) rotateY(15deg);
  }

  50% {
    transform: translateX(0px);
  }

  75% {
    transform: translateX(-20px) rotateY(-15deg);
  }

  100% {
    transform: translateX(0px);
  }
}

/* Parte 2 */
.img-slide-2 {
  margin-bottom: 700px;
  margin-top: 150px;
  background-color: #f3f3f3;
}

.img-perspective {
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.pc,
.lady,
.gentleman {
  z-index: 9;
  animation: pc-animation 2s;
  transform-style: preserve-3d;
}

.pc {
  width: 576px;
  position: absolute;
  top: 0px;
  right: 400px;
}

.lady {
  height: 294px;
  position: absolute;
  top: 150px;
  right: 825px;
}

.gentleman {
  height: 324px;
  position: absolute;
  top: 150px;
  right: 400px;
}

.ladyComputer {
  z-index: 9;
  height: 242px;
  position: absolute;
  top: -137px;
  right: 475px;
  animation: ladyPC-animation 2s forwards ease-in-out;
}

.cotonete,
.pedra,
.cacto,
.pontinho,
.folha,
.pontinhoAmarelo {
  z-index: 8;
  position: absolute;
}

.cotonete,
.pedra,
.pontinhoAmarelo {
  animation: left-img-animation 3s forwards ease-in-out;
}

.cacto,
.pontinho,
.folha {
  animation: right-img-animation 3s forwards ease-in-out;
}

.cotonete {
  height: 330px;
  top: -15px;
  right: 845px;
}

.pedra {
  height: 150px;
  top: 235px;
  right: 800px;
}

.pontinhoAmarelo {
  height: 100px;
  top: 270px;
  right: 850px;
}

.folha {
  height: 300px;
  top: -50px;
  right: 350px;
}

.cacto {
  height: 100px;
  top: 175px;
  right: 450px;
}

.pontinho {
  height: 100px;
  top: 175px;
  right: 400px;
}

@keyframes pc-animation {
  from {
    transform: rotateX(90deg);
  }

  to {
    transform: rotateX(0deg);
  }
}

@keyframes ladyPC-animation {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }

  50% {
    transform: translateX(-50px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes left-img-animation {
  0% {
    transform: translateX(+25px);
    opacity: 0;
  }

  50% {
    transform: translateX(+25px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes right-img-animation {
  0% {
    transform: translateX(-25px);
    opacity: 0;
  }

  50% {
    transform: translateX(-25px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

/* Parte 3 */

.button-text {
  margin-bottom: 50px;
  padding: 10px 30px 10px 30px;
  background: #5974c7;
  color: #f3f3f3;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  animation: btn-animation 1s ease infinite;
}

.button-text:focus,
.button-animated:focus {
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}

.button-text:hover {
  opacity: 0.3;
}

@keyframes btn-animation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
